parameters:
    level: max
    paths:
        - phpstan
        - src
        - tests
    tmpDir: .phpstan.cache

services:
    -
        class: Rak200\Collections\PHPStan\CollectionTypeResolver
        tags:
            - phpstan.broker.expressionTypeResolverExtension
