parameters:
    level: 9
    paths:
        - phpstan
        - src
        - tests

services:
    -
        class: Rak200\Collections\PHPStan\CollectionTypeResolver
        tags:
            - phpstan.broker.expressionTypeResolverExtension
